<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="ismile_form">
<fieldset><legend>New Job</legend>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :area %>
    <%= f.select :area, Area.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <%= f.select :category, Category.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %></fieldset></div>
