<div class="header">
	<div id='logo'>
		<%= link_to (image_tag "logo_s.png", width: '300'), root_path %>
	</div>
	<ul class='top-nav'>
		<li><%= link_to "iSmile", "http://ismile-consulting.herokuapp.com/", target: "_blank"  %></li>
		<li><%= link_to "the iSmile Team", jobs_path %></li>			
		<li><%= link_to 'Training', "http://ismile-consulting.herokuapp.com/pages/training", target: "_blank"  %></li>		
		<li><%= link_to 'Taskforce', "http://ismile-consulting.herokuapp.com/pages/taskforce", target: "_blank"  %></li>
		<li><%= link_to 'Marketing', "http://ismile-consulting.herokuapp.com/pages/marketing", target: "_blank" %></li>
		<li><%= link_to 'Login', sessions_new_path %></li>

	</ul>
	<div class='head-img'></div>
	<div class='img-txt'></div>
	<ul class='site-nav'>
		<li><%= link_to "主页", root_path %></li>
		<li><%= link_to "职位搜索", jobs_path %></li>				
		<li><%= link_to "提交简历", pages_resume_path %></li>
		<li><%= link_to "实习生园地", pages_intern_path %></li>
		<li><%= link_to "联系我们", pages_contact_path %></li>
	</ul>
</div>
